:root {
    --main-bg-color: #101010;
    /* --main-text-color: #9efbff; */
    --main-text-color: rgb(255, 255, 255);
}

html {
    color: var(--main-text-color)
}

body {
    background-color:var(--main-bg-color);
}

input {
    height: 80%;
    width: 80%;
    font-size: 24pt;
    text-align: center;
    border-color: var(--main-text-color);
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

.gallery {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
}

.imgContainer {
    position: relative;
    max-width: 100%;
    display: flex;
    align-content: center;
    align-self: baseline;
}

.img {
    vertical-align: middle;
    /* max-width: 400px; */
    max-height: 400px;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    height: max-content;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    text-align: center;
}

.topOverlay {
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    height: max-content;
    color: white;
    font-size: 20px;
    text-align: center;
}

.imgContainer:hover .overlay {
    opacity: 1;
}

::placeholder{
    color:rgb(111, 111, 111);
}

.divider {
    height: 5px;
    background-color: var(--main-text-color);
}

.hero {
    padding-bottom: 20px;
}

.container {
    border: solid 1px #000000;
    zoom: 1; /* IE6&7 */
}

.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar a {
    min-width: 200px;
    color: var(--main-text-color);
    font-size: x-large;
    border: var(--main-text-color);
}

/* utility classes */

.center {
    text-align: center;
}

.text_10 {
    font-size: 10em;
}

.text_5 {
    font-size: 5em;
}

.text_2 {
    font-size: 2em;
}